@import "config";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Scroll behavior
section span {
  margin-top: -300px; /* Size of fixed header */
  padding-bottom: 300px;
  display: block;
}

// Main Nav

#main-nav.top {
  background: transparent;
}

#main-nav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: $dark-color;
  transition: 0.5s;
  opacity: 0.8;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    ul {
      display: flex;
    }

    li {
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $main-color;
      }
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      $bg-image;
    background-size: cover;
    height: 100vh;
    color: #fff;
    position: relative;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
}

// About
#about {
  &-a {
    p {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}

// Portfolio
#portfolio {
  &-a {
    .portfolio-content {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

      .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid grey;

        .card-text {
          margin: 0 1rem 0 1rem;

          ul {
            display: flex;
            justify-content: space-evenly;
          }

          li {
            padding: 0.5rem 1rem 0.5rem 1rem;
            background: #84b5d6;
            border-radius: 15%;
          }

          .card-link {
            display: flex;
            justify-content: space-evenly;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

// Contact
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      color:#fff;

      &:hover {
        background: $main-color;
      }
    }
  }
}

// Import Media Queries
@import "media";
